body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: #404040;
    padding: 1rem
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold
}